body{
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  background-color: azure;
}
nav > ul{
  display: flex;
  align-items: center;
  
}
.btn-primary{
  background-color: #FD6E0A;
  border-radius: 5px;
  font-size: 20px;
font-weight: 700;
border: 0;
color: white;
padding: 15px 35px;
}
.color-primary{
  color: #FD6E0A;
  
}
nav > ul> li{
  margin-right: 50px;
}
nav li{
  list-style: none;
  color: #474747;
  
}
nav li a{
  text-decoration: none;

}
.nav-title{
  color: #181818;
font-family: Open Sans;
font-size: 45px;
font-weight: 800;


}
.banner{
padding: 30px 30px 30px 150px;
display: flex;
align-items: center;

}
header{
  background-color: antiquewhite;
}
.banner img{
  width: 500px;
}