body{
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  background-color: azure;
}
nav > ul{
  display: flex;
  align-items: center;
  
}
.btn-primary{
  background-color: #FD6E0A;
  border-radius: 5px;
  font-size: 20px;
font-weight: 700;
border: 0;
color: white;
padding: 15px 35px;
}
.color-primary{
  color: #FD6E0A;
  
}
nav > ul> li{
  margin-right: 50px;
}
nav li{
  list-style: none;
  color: #474747;
  
}
nav li a{
  text-decoration: none;

}
.nav-title{
  color: #181818;
font-family: Open Sans;
font-size: 45px;
font-weight: 800;


}
.banner{
padding: 30px 30px 0px 150px;
display: flex;
align-items: center;


}
header{
  background-color: antiquewhite;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner img{
  width: 500px;
}
.banner-grteating{
  margin-bottom: 0;
  color: #474747;

}
.banner-tittle{
 margin-top: 5px;
 font-size: 85px;
font-style: normal;
font-weight: 700;
}
/* main */
.about{
padding: 130px;
border-radius: 10px;
background-color: #FFF8F3;

}
.section_title{
  text-align: center;

font-size: 35px;

font-weight: 700;

}
.sec_desc{
  text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;
}